.card {
  width: 15rem;
  height: 13rem;
  background: #ecf0f1;
  float: left;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border: 2px solid #dee2e6 !important; 
  border-radius: 20px !important;
  box-sizing: border-box;
  margin-right: 10px;
}
.c-body {
  text-align: left;
  padding-left: 1rem;
}
.card:hover {
  background: #ecf0f1;
}
.icons-spacing {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 1rem;
}
.card-img-top {
  background: black;
  opacity: 0.5;
  border-radius: 20px 20px 0 0  !important;
}
.tool {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
h6{
    display: inline-block;
    margin-left: 1rem;
}
.card-img-top:hover{
    cursor: pointer;
}