.margin-after-header {
    margin-top: 120px;
}

.icon-excel {
    background-image: url("https://image.flaticon.com/icons/svg/130/130993.svg");
    padding: 6px 6px 0px 32px;
    background-repeat: no-repeat;
}

.inline {
    display: inline-block;
}
.inline2{
    display: inline-block;
}
.activeIcon{
    background: red !important;
}

.searchBarBefore {
    position: relative;
    left: 50px;
    transition: left .2s linear, opacity .4s;
    opacity: 0;
  }
  
.searchBarAfter {
    left: 0px;
    opacity: 1;
  }



