.annotation {
    position: absolute;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;
    padding: 16px;
    width: 200px;
    color: #fff;
    border-radius: .5em;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity .5s;
    background-color: rgba(0, 0, 0, 0.8);

}

#spin {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    z-index: 99999;
    position: relative;
}

.c-card:hover {
    cursor: pointer;
}

.annotation-number {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#number {
    position: absolute;
    z-index: -1;
}

.annotation p {
    word-break: break-all;
}

body {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #222;
    background-color: #BBB;
    font-family: arial, sans-serif;
    font-size: 100%;
}

.hidden {
    opacity: 0;
    margin: 0;
    padding: 0;
}

#new-point {
    position: absolute;

    top: 2px;

    width: 240px;
    color: white;
}

/* #x, #y, #z {
    background: #ffffff;
    width: 90%;
    padding-top:10px;
    border-radius: 12px;
    color: black;
} */

#remove,
#add,
#SelectCamera {
    width: 90%;
    padding: 15px 42px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}


.openbtn:hover {
    background-color: #ff5100;
}

hr {
    height: 3px;
    background-color: white;

}

#name,
#exampleFormControlTextarea1,
#index {
    width: 90%;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#exampleFormControlTextarea1 {
    resize: none;

}

label {
    text-decoration: underline;
}


p {
   
}

p.sign {
    font-weight: bold;
    text-decoration: underline;
}

.btn-primary {
    border-radius: 30px;
}

.form-control {
    border-radius: 15px;
}


/* The sidebar menu */
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /*Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    /* 0.5 second transition effect to slide in the sidebar */
    opacity: 0.8;
}

/* The sidebar links */
.sidebar .form-group {
    padding: 8px 12px 8px 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

/* When you mouse over the navigation links, change their color */
/* .sidebar a:hover {
    color: #f1f1f1;
  } */

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-bottom: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    /* If you want a transition effect */
    padding: 20px;
    height:100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } */

.spoilerN {
    display: none;
    padding: 5px;
    margin: 5px
}


.tt {
    cursor: pointer;
}

.tt:hover {
    border-bottom: 1px dashed green;

}

.openMenu {
    padding: 20px;
}

#spoilers {
    float: right;
    height: 100%;
    width: 300px;
    text-align: center;
    color: white;
    background-color: #111;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

#t3{
    text-align: left;
    font-size: 14px
}
