.filename:hover, .tools:hover {
    cursor: pointer;
}

tr:hover {
    cursor: pointer;
    background: #ecf0f1;
}

.tool {
    font-size: 1.1em;
    color: #34495e;
}

.tool:hover {
    color: #16a085;
}

.trash:hover {
    color: #c0392b;
}

.download:hover {
    color: #3498db;
}